---
BasedOnStyle: LLVM
Language: Cpp
Standard: Auto

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
MaxEmptyLinesToKeep: 1

AlignEscapedNewlines: Right
AlignOperands: true
AlignTrailingComments: true

PointerAlignment: Right

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: false
  AfterEnum: false
  AfterStruct: false
  AfterUnion: false
  BeforeElse: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

BinPackArguments: false
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false

SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpacesInContainerLiterals: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

SortIncludes: true

AlwaysBreakAfterReturnType: None
BreakStringLiterals: true
PenaltyReturnTypeOnItsOwnLine: 1000
